* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-scrollbar-track {
  background-color: var(--header);
}

::-webkit-scrollbar-thumb {
  background-color: var(--white-color);
  border: 5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

:root {
  --header: rgb(24, 24, 29);
  --text: rgb(24, 24, 29);
  --slate-color: #4d596a;
  --black-color: #212529;
  --white-color: #fff;
  --helper: #8490ff;
  --bg: rgb(249 249 255);
  --footer_bg: #0a1435;
  --btn: rgb(98, 84, 243);
  --border: rgba(98, 84, 243, 0.5);
  --hr: #ffffff;
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --shadowSupport: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
  color: var(--header);
}

h2 {
  font-size: 4.4rem;
  font-weight: 300;
  color: var(--header);
  text-align: center;
  white-space: normal;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  font-size: 1.65rem;
  opacity: 0.5;
  line-height: 1.5;
  margin-top: 1rem;
  font-weight: 400;
  color: var(--text);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btns {
  text-decoration: none;
  max-width: auto;
  border: none;
  text-transform: uppercase;
  text-align: center;
}

.btns:hover,
.btns-active {
  box-shadow: 0 2rem 2rem 0 rgb(132 144 255 / 30%);
  transform: scale(0.96);
}

.btns a,
.btns {
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--btn);
  padding: 1rem 2rem;
  font-size: 1.3rem;
}

.error .btn {
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--btn);
  padding: 0.8rem 2rem;
  font-size: 1.3rem;
  margin-top: 50px;
}

.error .btn:hover {
  box-shadow: 0 2rem 2rem 0 rgb(132 144 255 / 30%);
  transform: scale(0.96);
}

.section-hero-image img {
  max-width: 80%;
}

.hero-para {
  margin-top: 1rem;
  margin-bottom: 3rem;
  max-width: 60rem;
}

.hero-top-data {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--helper);
  margin-bottom: 0;
}

.hero-heading {
  line-height: 1;
}

.section {
  background-color: var(--bg);
  padding: 3rem 0;
}

.section .card-data {
  padding: 1rem 2rem 0;
  height: 100%;
}

.section .card-data h3 {
  margin: 2rem 0;
  font-weight: 300;
  font-size: 2rem;
}

.section .card-data p {
  font-size: 1.2rem;
}

.section .card {
  height: 100%;
}

.section .card .card-data .btn {
  margin: 2rem auto;
  background-color: rgb(0 0 0 / 0%);
  border: 0.1rem solid var(--btn);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.section .card .card-data .btn:hover {
  background-color: var(--btn);
  color: var(--white-color);
}

.contact .common-heading {
  font-size: 3.8rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-transform: capitalize;
}

input,
textarea {
  max-width: 50rem;
  color: var(--black-color);
  padding: 1rem 2rem;
  border: 1px solid var(--border);
  box-shadow: var(--shadowSupport);
  width: 100%;
}

input[type="submit"] {
  max-width: 12rem;
  margin-top: 2rem;
  background-color: var(--btn);
  color: var(--white-color);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s;
}

input[type="submit"]:hover {
  background-color: var(--white-color);
  border: 1px solid var(--btn);
  color: var(--btn);
  transform: scale(0.9);
}

.contact .contact-form {
  max-width: 40rem;
  margin: auto;
  margin-top: 50px;
}

.contact-short {
  max-width: 60vw;
  margin: auto;
  padding: 3rem 4rem 2.5rem;
  background-color: var(--bg);
  border-radius: 1rem;
  box-shadow: var(--shadowSupport);
  transform: translateY(50%);
}

footer {
  padding: 9rem 0 6rem;
  background-color: var(--footer_bg);
}

footer h3 {
  color: var(--hr);
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
}

footer p {
  color: var(--white-color);
  font-size: 1.1rem;
}

footer .icons {
  width: 50px;
  border-radius: 50%;
  border: 2px solid var(--white-color);
  color: var(--white-color);
  font-size: 1.6rem;
  cursor: pointer;
  height: 50px;
  text-align: center;
  line-height: 1.8;
}

footer hr {
  margin: 4rem 0 2rem;
  background-color: var(--white-color);
  height: 0.1px;
}

.top-btn {
  font-size: 1.7rem;
  width: 4rem;
  height: 4rem;
  color: var(--white-color);
  background-color: var(--btn);
  box-shadow: var(--shadow);
  border-radius: 50%;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.top-btn .fa-arrow-up {
  animation: gotop 1.2s linear infinite alternate-reverse;
}

@keyframes gotop {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

.navbar-light .navbar-nav .customInActive {
  color: rgba(0, 0, 0, 0.55);
}

.navbar-light .navbar-nav .customActive {
  color: rgba(0, 0, 0, 0.9);
}

.customInActive,
.customActive {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
